# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
main_df = pd.read_csv("output_data/main_df.csv", index_col=0)
main_df.head()

,City,Country,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Date
0,Locri,IT,38.24,16.26,20.56,77,1,1.50,09/30/2020
1,Tuktoyaktuk,CA,69.45,-133.04,2.00,93,90,8.20,09/30/2020
2,Badou,TG,7.58,0.60,21.40,93,99,0.84,09/30/2020
3,Carnarvon,AU,-24.87,113.63,23.00,64,0,9.30,09/30/2020
4,Rikitea,PF,-23.12,-134.97,22.62,81,70,11.23,09/30/2020

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)
locations = main_df[["Lat", "Long"]]
weights = main_df["Humidity"]
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights, dissipating=False))
fig

Figure(layout=FigureLayout(height='420px'))

In [4]:
#Narrow down the DataFrame to find your ideal weather condition. For example:
    
hotel_df = main_df.loc[(main_df["Max Temp"] > 25) & (main_df["Max Temp"] < 30) & (main_df["Wind Speed"] < 15) & (main_df["Cloudiness"] < 60)]             
hotel_df

,City,Country,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Date
5,Kapaa,US,22.08,-159.32,28.00,69,20,3.10,09/30/2020
10,Cairns,AU,-16.92,145.77,29.44,48,4,6.70,09/30/2020
12,Morondava,MG,-20.28,44.28,26.53,55,0,1.24,09/30/2020
21,Hilo,US,19.73,-155.09,27.00,78,1,2.10,09/30/2020
27,Faanui,PF,-16.48,-151.75,26.11,78,25,11.16,09/30/2020
39,Atuona,PF,-9.80,-139.03,25.79,77,3,9.78,09/30/2020
41,Cabo San Lucas,MX,22.89,-109.91,27.22,80,8,0.89,09/30/2020

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [5]:
Hotel_name = []
exception = 1
params = {
    "radius": 5000,
    "types": "lodging",
    "keyword": "hotel",
    "key": g_key}

for index, row in hotel_df.iterrows():
    
    lat = row["Lat"]
    long = row["Long"]
    params["location"] = f"{lat},{long}"

    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    response = requests.get(base_url, params=params).json()
    
    try:
        hotel = response["results"][0]["name"]
        Hotel_name.append(hotel)
    except:
        print(f"This is the #{exception} exception")
        Hotel_name.append("none")
        exception = exception + 1
        pass

In [7]:
hotel_df.insert(8, "Hotel Name", Hotel_name)
hotel_data = hotel_df.loc[hotel_df["Hotel Name"]!="none"]
new_hotel_data = hotel_data.drop(["Max Temp", "Humidity", "Cloudiness", "Wind Speed", "Date"], axis=1)
new_hotel_data

,City,Country,Lat,Long,Hotel Name
5,Kapaa,US,22.08,-159.32,Hilton Garden Inn Kauai Wailua Bay
10,Cairns,AU,-16.92,145.77,"Shangri-La Hotel, The Marina, Cairns"
12,Morondava,MG,-20.28,44.28,Palissandre Cote Ouest resort & SPA
21,Hilo,US,19.73,-155.09,Grand Naniloa Hotel Hilo - a DoubleTree by Hilton
27,Faanui,PF,-16.48,-151.75,InterContinental Bora Bora Resort Thalasso Spa
39,Atuona,PF,-9.80,-139.03,CHALETS HANAKEE
41,Cabo San Lucas,MX,22.89,-109.91,Welk Resorts Cabo San Lucas - Sirena del Mar

In [8]:
a = new_hotel_data["Lat"].tolist()
b = new_hotel_data["Long"].tolist()
x = zip(a, b)
coordinates = list(x)
coordinates

[(22.08, -159.32),
 (-16.92, 145.77),
 (-20.28, 44.28),
 (19.73, -155.09),
 (-16.48, -151.75),
 (-9.8, -139.03),
 (22.89, -109.91)]

In [9]:
# NOTE: Do not change any of the code in this cell
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in new_hotel_data.iterrows()]
#locations = hotel_df[["Lat", "Long"]]

In [10]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(coordinates,info_box_content=hotel_info)
fig.add_layer(markers)
fig
# Display figure

Figure(layout=FigureLayout(height='420px'))